<nav class="uk-navbar-container" uk-navbar uk-scrollspy="cls: uk-animation-fade">
	<div class="uk-navbar-left">
		<ul class="uk-navbar-nav">
			<li class=""><a href="">About</a></li>
			<li class=""><a href="">Rooms</a></li>
		</ul>
	</div><!-- /uk-navbar-left -->

	<div class="uk-navbar-center" uk-scrollspy="cls: uk-animation-fade; delay: 200">
		<div class="uk-navbar-nav">
			<li class="uk-text-uppercase">
				<a href="">
					<span class="uk-text-lead uk-text-warning">Basilon Hotel</span>
				</a>
			</li>
		</div><!-- /uk-navbar-nav -->
	</div><!-- /uk-navbar-center -->

	<div class="uk-navbar-right" uk-scrollspy="cls: uk-animation-fade; delay: 500">
		<ul class="uk-navbar-nav">
			<li><a href="">Booking</a></li>
			<li><a href="">Contact</a></li>
		</ul>
	</div><!-- /uk-navbar-right -->
</nav>
