div.uk-card.uk-card-default.uk-card-body.uk-margin Lorem ipsum blah blah blah ...
div.uk-card.uk-card-default.uk-card-body Lorem ipsum blah blah blah ...

hr
div.uk-card.uk-card-default.uk-card-body Lorem ipsum blah blah blah ...
div.uk-card.uk-card-default.uk-card-body.uk-margin-xlarge Lorem ipsum blah blah blah ...

br
br

div.uk-card.uk-card-default.uk-card-body.uk-margin-auto-vertical.uk-margin-auto Lorem ipsum blah blah blah ...
div.uk-card.uk-card-default.uk-card-body Lorem ipsum blah blah blah ...

