div.uk-inline.uk-margin

  img src="https://getuikit.com/docs/images/photo.jpg"

  div.uk-position-center-left-out.uk-overlay.uk-overlay-primary Out
  div.uk-position-center-right-out.uk-overlay.uk-overlay-primary Out
